@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f0f0f0;
}

.sidebar {
  background: linear-gradient(
    to bottom,
    rgb(20, 97, 117) 0%,
    rgb(56, 161, 187) 50%,
    rgb(3, 22, 56) 100%
  );
}
/* .boxAlignment{
  height:  -webkit-fill-available;
} */

.markCount {
  position: relative;
}

.markCount::before {
  content: attr(count);
    position: absolute;
    top: -10px;
    right: 0;
    font-size: 8px;
    background-color: #575757;
    border-radius: 100%;
    color: #fff;
    font-weight: bold;
    padding: 1px;
}
